@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    silk --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'silk';
  default: true;
  --color-primary: red;
  --color-secondary: teal;
}

.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}
