---
import { Icon } from 'astro-iconset/components';

interface Props {
  href: string;
  label: string;
  icon: string;
  id?: string;
  external?: boolean;
  active?: boolean;
}

const {
  href,
  label,
  icon,
  id,
  external = false,
  active = false,
} = Astro.props;
---

<li>
  <a
    id={id}
    href={href}
    class="sidebar-link"
    data-active={active ? 'true' : 'false'}
    aria-current={active ? 'page' : undefined}
    target={external ? '_blank' : undefined}
    rel={external ? 'noopener noreferrer' : undefined}
  >
    <Icon name={icon} size={18} aria-hidden="true" />
    <span>{label}</span>
    {
      external && (
        <Icon
          name="mdi:arrow-top-right"
          size={12}
          class="ml-auto text-secondary"
          aria-hidden="true"
        />
      )
    }
  </a>
</li>
